# Dart/Flutter
**/.dart_tool
# fenv
**/.flutter-version
# symlink headers
packages/flutter/ios/Classes/breez_sdk_liquid.h
packages/flutter/macos/Classes/breez_sdk_liquid.h
packages/flutter/ios/Classes/breez_sdk_liquidFFI.h
packages/flutter/macos/Classes/breez_sdk_liquidFFI.h
# Miscellaneous
.DS_Store
.idea/

**/target

.data/
.wollet/
.vscode/launch.json
