[submodule "regtest/boltz"]
	path = regtest/boltz
	url = https://github.com/BoltzExchange/regtest.git
[submodule "regtest/waterfalls-service/waterfalls"]
	path = regtest/waterfalls-service/waterfalls
	url = https://github.com/breez/waterfalls.git
[submodule "regtest/swapproxy-service/swapproxy"]
	path = regtest/swapproxy-service/swapproxy
	url = https://github.com/breez/swapproxy.git
