name: flutter_breez_liquid
description: Flutter wrapper around Dart bindings for the Breez Liquid SDK
version: 0.8.2
homepage: https://breez.technology
repository: https://github.com/breez/breez-sdk-liquid-flutter
publish_to: 'none'

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  breez_liquid:
    git:
      url: https://github.com/breez/breez-sdk-liquid-dart
      ref: v0.8.2
  ffigen: ^18.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.breez.breez_sdk_liquid
        pluginClass: BreezSDKLiquidPlugin
        ffiPlugin: true
      ios:
        pluginClass: BreezSDKLiquidPlugin
        ffiPlugin: true
      macos:
        ffiPlugin: true