name: Publish React Native Plugin
on:
  workflow_call:
    inputs:
      repository:
        description: 'sdk repository, defaults to current repository'
        required: false
        type: string
      ref:
        description: 'commit/tag/branch reference'
        required: true
        type: string
      package-version:
        description: 'version for the npm package (MAJOR.MINOR.BUILD)'
        required: true
        type: string
      publish:
        description: 'value indicating whether to publish to npm.'
        required: true
        type: boolean
        default: false
    secrets:
      REPO_SSH_KEY:
        description: 'SSH key to commit to the breez-sdk-liquid-react-native repository'
        required: true
      RN_RELEASE_TOKEN:
        description: 'GitHub token to release to the breez-sdk-liquid-react-native repository'
        required: true
      NPM_TOKEN:
        description: 'Access token for npm publish'
        required: true

jobs:
  build-language-bindings:
    name: Build language bindings
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || github.sha }}
  
      - name: Setup build
        uses: ./.github/actions/setup-build
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install rust dependencies
        run: |
          rustup target add aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android
          rustup target add aarch64-apple-ios aarch64-apple-ios-sim x86_64-apple-ios

      - name: Install cargo-ndk
        run: cargo install cargo-ndk --version 3.5.4

      - name: Install clang-format
        run: brew install clang-format

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: packages/react-native/.nvmrc
          registry-url: 'https://registry.npmjs.org'
          scope: '@breeztech'

      - name: Install dependencies
        working-directory: packages/react-native
        run: yarn --mode=skip-build

      - name: Apply patches
        working-directory: packages/react-native
        run: npx patch-package

      - name: Build and generate native bindings
        working-directory: packages/react-native
        run: make react-native

      - name: Set cargo version
        working-directory: packages/react-native
        run: |
          HASH=$(git rev-parse HEAD)
          sed -i.bak -e 's/directory: .*/repo: https:\/\/github.com\/breez\/breez-sdk-liquid\n  rev: '"$HASH"'/' ubrn.config.yaml
          rm ubrn.config.yaml.bak

      - name: Archive React Native bindings
        uses: actions/upload-artifact@v4
        with:
          name: bindings-react-native
          path: |
            packages/react-native/ubrn.config.yaml
            packages/react-native/android/generated
            packages/react-native/android/CMakeLists.txt
            packages/react-native/cpp
            packages/react-native/lib
            packages/react-native/src
            packages/react-native/*.podspec

      - name: Compress Android binaries
        working-directory: packages/react-native
        run: zip -9 -r android-artifacts.zip android/src/main/jniLibs

      - name: Compress iOS binaries
        working-directory: packages/react-native
        run: zip -9 -r ios-artifacts.zip build

      - name: Archive Android binaries
        uses: actions/upload-artifact@v4
        with:
          name: react-native-android-artifacts
          path: packages/react-native/android-artifacts.zip
          retention-days: 5

      - name: Archive iOS binaries
        uses: actions/upload-artifact@v4
        with:
          name: react-native-ios-artifacts
          path: packages/react-native/ios-artifacts.zip
          retention-days: 5

  build-package:
    name: Build package
    runs-on: macos-latest
    needs: build-language-bindings
    steps:
      - name: Checkout breez-sdk-liquid-react-native repo
        uses: actions/checkout@v4
        with:
          repository: breez/breez-sdk-liquid-react-native
          ref: main
          ssh-key: ${{ secrets.REPO_SSH_KEY }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'
          scope: '@breeztech'

      - name: Remove existing bindings
        run: |
          git rm -r android/generated || true
          git rm android/CMakeLists.txt || true
          git rm -r cpp || true
          git rm -r lib || true
          git rm -r src || true
          git rm *.podspec || true

      - name: Download React Native bindings
        uses: actions/download-artifact@v4
        with:
          name: bindings-react-native

      - name: Set publish version
        run: npm --no-git-tag-version --allow-same-version version ${{ inputs.package-version || '0.10.3' }}

      - name: Pack for archival
        if: ${{ !inputs.publish }}
        run: yarn pack --filename breez-sdk-liquid-react-native.tgz

      - name: Archive package
        if: ${{ !inputs.publish }}
        uses: actions/upload-artifact@v4
        with:
          name: react-native-${{ inputs.package-version || '0.10.3' }}
          path: breez-sdk-liquid-react-native.tgz

      - name: Tag the React Native bindings
        if: ${{ inputs.publish }}
        run: |
          git config --global user.name "SDK release tagger"
          git config --global user.email "no-reply@breez.technology"
          git add .
          git commit -m "Update React Native bindings to version ${{ inputs.package-version || '0.10.3' }}"
          git push
          git tag ${{ inputs.package-version || '0.10.3' }} -m "${{ inputs.package-version || '0.10.3' }}"
          git push --tags

      - name: Install dependencies
        if: ${{ inputs.publish }}
        run: yarn --mode=skip-build

      - name: Apply patches
        if: ${{ inputs.publish }}
        run: npx patch-package

      - name: Publish package to npm
        if: ${{ inputs.publish }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish

  publish-artifacts:
    name: Publish artifacts
    if: ${{ inputs.publish }}
    runs-on: macos-latest
    needs: build-package
    steps:
      - name: Checkout breez-sdk-liquid-react-native repo
        uses: actions/checkout@v4
        with:
          repository: breez/breez-sdk-liquid-react-native
          ref: main
          ssh-key: ${{ secrets.REPO_SSH_KEY }}
          fetch-depth: 0

      - name: Download Android binaries
        uses: actions/download-artifact@v4
        with:
          name: react-native-android-artifacts

      - name: Download iOS binaries
        uses: actions/download-artifact@v4
        with:
          name: react-native-ios-artifacts

      - name: Release and attach binary artifact
        uses: softprops/action-gh-release@v2
        with:
          repository: breez/breez-sdk-liquid-react-native
          files: |
            android-artifacts.zip
            ios-artifacts.zip
          tag_name: ${{ inputs.package-version || '0.10.3' }}
          generate_release_notes: false
          token: ${{ secrets.RN_RELEASE_TOKEN }}
          prerelease: true
